<h1>Entraste en la página de ERROR</h1>
<hr>
<p>Seguramente no accediste algunas de las rutas definidas para esta aplicación, para ir a la página principal por favor dar click > <%= link_to 'Home', root_path %></p>
