<!-- <div class="jumbotron jumbotron-fluid"> -->
<div class="container h-100 p-5 bg-dark bg-gradient rounded-3 text-white">
    <h1 class="display-4 text-white">Aplicación Web con Ruby on Rails</h1>
    <h2 class="text-white">Generación 44 <small class="text-muted">Simplemente si se puede!!!</small></h2>
    <p class="lead"><i class="bi bi-bootstrap-fill text-white"></i> This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
</div>


