<h1>Aplicación Web con Ruby on Rails</h1>
<h2>Generación 44</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt saepe eum obcaecati amet magnam sequi placeat, exercitationem vero aliquam numquam quas rerum quia totam magni quis voluptate, quos, quisquam fugiat.</p>
